<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    @using Microsoft.AspNetCore.Mvc.Localization
    @inject IHtmlLocalizer<PeopleListCore.Resource> Resource
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />

</head>
<body>
    <div class="row justify-content-between">
        <div class="col-lg-1">
            @using (Html.BeginForm("SetLanguage", "Home"))
            {
                <br>
                <select name="culture" class="col-12 form-control" id="exampleFormControlSelect1">
                    @for (var i = 0; i < ViewBag.langs.Count; i++)
                    {
                        if (Resource["Lang"].Value.ToLower() == ViewBag.langsFullName[i].ToLower())
                        {
                            <option selected value="@ViewBag.langs[i]">@ViewBag.langsFullName[i]</option>
                        }
                        else
                        {
                            <option value="@ViewBag.langs[i]">@ViewBag.langsFullName[i]</option>
                        }
                    }
                </select>
                <br>
                <input class="col-12 btn btn-primary" type="submit" name="submit" value="@Resource["Change"]">
            }
        </div>
        @if (ViewData["Auth"] == null)
        {
            <div class="col-lg-1">
                <br>
                <br>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ViewData["Email"]
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink(Resource["Profile"].Value, "Read", "Home", new { @id = User.Identity.Name }, new { @class = "dropdown-item" })
                        @Html.ActionLink(Resource["Logoff"].Value, "Logoff", "Account", null, new { @class = "dropdown-item" })
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="container col-lg-3 mt-5" id="main-block">
        @RenderBody()
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.9.0/less.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</body>

</html>
