@using Microsoft.AspNetCore.Mvc.Localization
@model IEnumerable<PeopleListCore.Models.People>
@inject IHtmlLocalizer<PeopleListCore.Resource> Resource
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@Resource["PeopleList"]</h3>

<ol class="list list-group" id="result">
    @foreach (PeopleListCore.Models.People b in Model)
    {
        <li class="list-group-item list" id="@b.id">
            <span>
                <span class="list-item-label">
                    @Html.ActionLink(b.Name + " " + b.Surname, "Read", "Home", new { id = b.id })
                </span>
                @if (ViewData["hidden"] == null)
                {
                    <span class="float-xl-right">
                        @Html.ActionLink(Resource["Edit"].Value, "Read","Home", new { id = b.id })
                    </span>
                }
            </span>
        </li>
    }
</ol>
<br>
@using (Html.BeginForm("OpenAdd", "Home"))
{
    <button class="btn btn-lg btn-primary btn-block" id="Add" type="submit">@Resource["Add"]</button>
}
<br>
@using (Html.BeginForm("UnloadPeoples", "Home", new { format = "xml" }))
{
    <button class="btn btn-lg btn-primary btn-block" id="Add" type="submit">@Resource["Unload"] XML</button>
}
<br>
@using (Html.BeginForm("UnloadPeoples", "Home", new { format = "json" }))
{
    <button class="btn btn-lg btn-primary btn-block" id="Add" type="submit">@Resource["Unload"] JSON</button>
}




