@model PeopleListCore.Models.FormEdit
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<PeopleListCore.Resource> Resource
@{

    Layout = "~/Views/Shared/_Layout.cshtml";   

    PeopleListCore.Models.People people = new PeopleListCore.Models.People();
}

@if (ViewData["Img"] == null)
{
    if ((bool)ViewData["canEdit"])
    {

        using (Html.BeginForm("LoadImg", "Home", new { id = Model.Id }, FormMethod.Post, false , new { enctype = "multipart/form-data" }))
        {
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="img" id="file" multiple accept="image/*" required>
                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                <div class="invalid-feedback">Example invalid custom file feedback</div>
            </div>
            <br>
            <br>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value=@Resource["Download"] />
        }
    }
}
else
{
    <img src="~/files/imgs/@Html.DisplayText("Img")" width="200" height="200" class="rounded mx-auto d-block" alt="...">
}
@if ((bool)ViewData["canEdit"])
{
    using (Html.BeginForm("Edit", "Home", new { id = Model.Id }))
    {
        <div class="form-group">
            <span class="control-label col-md-2">@Resource["Email"]</span>
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">@Resource["Name"]</span>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">@Resource["Surname"]</span>
            @Html.EditorFor(model => model.Surname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Surname, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <span class="control-label col-md-2">@Resource["Birthday"]</span>
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>
        <button type="button" class="btn btn-lg btn-danger btn-block" data-toggle="modal" data-target="#exampleModal">
            @Resource["Remove"]
        </button>
        <br>
        <div class="d-flex justify-content-around">
            <button class="col-5 btn btn-lg btn-primary " id="Edit" type="submit">@Resource["Save"]</button>
            @Html.ActionLink(Resource["Cancel"].Value, "Index", "Home", null, new { @class = "col-5 btn-lg btn btn-secondary " })
        </div>
    }
}
else
{
    <br>
    <ul class="list-group">
        <li class="list-group-item">@Html.DisplayText("Name")</li>
        <li class="list-group-item">@Html.DisplayText("Surname")</li>
        <li class="list-group-item">@Html.DisplayText("Email")</li>
        <li class="list-group-item">@Html.DisplayText("Birthday").Split(" ")[0]</li>
    </ul>
    <br>
    @Html.ActionLink(Resource["Cancel"].Value, "Index", "Home", null, new { @class = "btn-lg btn btn-secondary btn-block" })
}

<br>
<span id="result"> @Html.ValidationSummary(true, "", new { @class = "text-danger" })</span>
@if (ViewData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @ViewData["Message"]
    </div>
}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Resource["Remove"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Resource["SureDelete"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource["No"]</button>
                @Html.ActionLink(Resource["Yes"].Value, "Remove", new { @id = Model.Id }, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>